In [12]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
import matplotlib.pyplot as plt

In [53]:
# load the dataset
df = pd.read_csv('../data/heart.csv')
df.head()

   Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0   40   M           ATA  ...      0.0        Up             0
1   49   F           NAP  ...      1.0      Flat             1
2   37   M           ATA  ...      0.0        Up             0
3   48   F           ASY  ...      1.5      Flat             1
4   54   M           NAP  ...      0.0        Up             0

[5 rows x 12 columns]

In [54]:
cat_variables = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope']

In [55]:
# one-hot encode using pandas
df = pd.get_dummies(data=df, prefix=cat_variables, columns=cat_variables)
df.head()

   Age  RestingBP  Cholesterol  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...              0              0            1
1   49        160          180  ...              0              1            0
2   37        130          283  ...              0              0            1
3   48        138          214  ...              0              1            0
4   54        150          195  ...              0              0            1

[5 rows x 21 columns]

In [56]:
features = [x for x in df.columns if x  not in 'HeartDisease']

In [67]:
# split the dataset
X_train, X_val, y_train, y_val = train_test_split(df[features], df['HeartDisease'], train_size=0.8, random_state=42)

In [72]:
print(f"training sample: {len(X_train)}")
print(f"validation sample: {len(X_val)}")

training sample: 734
validation sample: 184